# Local .terraform directories
**/.terraform/*
.terraform/
# .tfstate files
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.terraform.lock.hcl

#public key files
keys/Jenkins
keys/Jenkins.pub
*.pem
*.pub

# Crash log files
crash.log
crash.*.log

# Ignore any .tfvars files that are generated automatically
*.tfvars.json
*.tfvars

Add-Content .gitignore "`nterraform.tfstate`n.terraform.lock.hcl`n.terraform/"