# Local .terraform directories
**/.terraform/*
.terraform/
# .tfstate files
*.tfstate
*.tfstate.*

#public key files
.Jenkins
*.Jenkins
/keys/Jenkins
*.jenkins
.Jenkins.pub
*.Jenkins.pub
./keys/Jenkins.pub
*.Jenkins.pub

# Crash log files
crash.log
crash.*.log

# Ignore any .tfvars files that are generated automatically
*.tfvars.json
*.tfvars
